/* Color Palette
#CCE8CC     light green
#F6EFEE     tan
#E2B6CF     light rose
#E396DF     light hot pink
#E365C1     hot pink
*/



/* Global Styles
----------------------------------------------*/
body {
    color: black;
}

img {
    width: 300px;
}

a {
    color: #E365C1;
}
a:hover {
    text-decoration: none;
}
/* Profile
----------------------------------------------*/
header {
    background: #CCE8CC; 
}



/* Projects
----------------------------------------------*/
.projects {
    background: #E2B6CF;
}

.projects .btn a {
    color: #CCE8CC;
    background: rgb(85, 84, 84);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}



/* Work Experience
----------------------------------------------*/
.work-experience {
    background: #E396DF;
}



/* Education
----------------------------------------------*/
.education {
    background: #E2B6CF;
}



/* Contact Info
----------------------------------------------*/
